.head_of_profile{
    width:100%;
    height:230px;
}
.line{
    width:90%;
    margin:0 auto;
    background-color:red;
    height:2px;
}
.head_of_profile_nav_bar {
    position:relative;
    width: min-content;
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    z-index:1;
}

.head_of_profile_nav_bar_buttom {
    margin-left: auto;
    text-align: center;
    line-height: 45px;
    width: 45px;
    height: 45px;
    font-size: 35px;
    transition: color .2s, text-shadow .2s;
}
.head_of_profile_nav_bar_content {
    display: none;
    width: 200px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 0 3px gray;
}
.head_of_profile_nav_bar_content ul{
    list-style:none;
    width:200px;
}
.head_of_profile_nav_bar_content li{
    animation-name:show_nav;
    animation-duration:.3s;
    text-align:center;
    line-height:45px;
    width:200px;
    height:45px;
}

.head_of_profile_nav_bar_content a{
    width:200px;
    height:45px;
    font-size:20px;
    transition:color .1s,font-size .2s;
}
.head_of_profile_nav_bar_content a:hover{
    color:#FA6D6D;
    font-size: 22px;
}
.head_of_profile_nav_bar:hover .head_of_profile_nav_bar_buttom {
    color: #FA6D6D;
    text-shadow: 0 0 2px #FA6D6D;
}
.head_of_profile_nav_bar:hover .head_of_profile_nav_bar_content {
    display: block;
}

.my_profile_content_info{
    display:flex;
    justify-content:space-around;
}
.my_profile_content_info_myIcon {
    display:flex;
    flex-direction:column;
    align-items:center;
    width: min-content;
    position: relative;
    top: -125px;
    text-align: center;
}
.my_profile_content_info_myIcon_avatar {
    animation-name: show_img;
    animation-duration: .5s;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    line-height: 250px;
    background-color: lightgray;
    border: solid 4px gray;
}
.my_profile_content_info_myIcon_avatar img{
    
    max-height:100%;
}
.my_profile_content_info_myIcon_name{
    font-size:30px;
    font-weight:bold;
}
.info_element{
    font-size:20px;
    font-weight:bold;
}
.follow_action {
    width: 150px;
    margin-top: 5px;
    text-align: center;
    padding: 7px 20px;
    transition: padding .3s, opacity .3s,width .3s;
    background-color: #1E1E1E;
    color: white;
    border-radius: 10px;
}
.follow {
    background-color: #FA6D6D;
}
.follow_action:hover {
    cursor: pointer;
    padding: 7px 30px;
}
.follow_action:active{
    width: 0px;
    opacity:0;
}
.my_profile_content_info_myStats {
    margin-top: 10px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.my_profile_content_info_myStats div{
    display:block;
    text-align:center;
}
.my_profile_content_info_myStats div p{
    font-weight:bold;
}
.my_profile_content_posts {
    width: min-content;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    grid-auto-rows: 350px;
}
.posts_element{
    background-color:white;
    border-radius:20px;
   /* margin:0 auto;
    margin-top:15px;*/
    
    margin:10px;
    width:320px;
    height:320px;
    overflow:hidden;
    text-align:center;
}
.posts_element_content {
    width: 320px;
    height: 320px;
    background-color: #E3E3E3;
    overflow:hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.posts_element p {
    display:none;
    width: 90%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.posts_element_content *{
    max-height:320px;
}


@keyframes show_nav {
    0%{
        height:0;
        opacity:0;
    }
    100% {
        width:200px;
        opacity: 1;
    }
}
@keyframes show_img {
    0% {
        width: 0;
        height: 0;
        margin-top: 125px;
    }

    100% {
        margin-top: 0;
        width: 250px;
    }
}
@media(max-width : 1300px){
    .my_profile_content_posts{
        grid-template-columns:repeat(2,1fr);
    }
}
@media(max-width : 1000px) {
    .posts_element{
        margin:10px auto;
    }
    .my_profile_content_posts {
        grid-template-columns: repeat(1,1fr);
    }
    .my_profile_content_info {
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width: 450px){
    .head_of_profile{
        height:150px;
    }
    .my_profile_content_info {
        flex-direction: column;
        align-items: center;
    }
    .my_profile_content_info_myIcon{
        top:-85px;
    }
    .my_profile_content_info_myIcon_avatar {
        top: 85px;
        width: 170px;
        height: 170px;
    }
    @keyframes show_img {
        0% {
            width: 0;
            height: 0;
            margin-top: 85px;
        }

        100% {
            margin-top: 0;
            width: 170px;
        }
    }
}