@model UBox.ViewModels.IndexModel
@{
    ViewBag.Title = "Головна - Ubox";
}
<link href="~/css/IndexStyle.css" rel="stylesheet" type="text/css" />


<div class="index_main">
    <div class="index_nav">
        <div class="logo_mobile">
            <svg width="115" height="58" viewBox="0 0 115 58" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect y="11" width="38" height="40" rx="5" fill="#FA6D6D" />
                <path d="M19.64 46.44C17.1867 46.44 15 45.9333 13.08 44.92C11.16 43.9067 9.66667 42.44 8.6 40.52C7.53333 38.5733 7 36.2933 7 33.68V17.2C7 17.0667 6.88 16.96 6.64 16.88C6.42667 16.8 6.21333 16.76 6 16.76V16H13.72V16.76C13.5067 16.76 13.28 16.8 13.04 16.88C12.8267 16.96 12.72 17.0667 12.72 17.2V32.48C12.72 35.36 13.2933 37.5733 14.44 39.12C15.6133 40.6667 17.3467 41.44 19.64 41.44C22.1467 41.44 23.8133 40.64 24.64 39.04C25.4933 37.44 25.92 35.36 25.92 32.8V17.2C25.92 17.0667 25.8 16.96 25.56 16.88C25.3467 16.8 25.1333 16.76 24.92 16.76V16H32.68V16.76C32.4667 16.76 32.24 16.8 32 16.88C31.7867 16.96 31.68 17.0667 31.68 17.2V32.96C31.68 37.2 30.7067 40.5067 28.76 42.88C26.84 45.2533 23.8 46.44 19.64 46.44Z" fill="white" />
                <path d="M56.0241 28.88C56.9041 29.1467 57.7841 29.6667 58.6641 30.44C59.5707 31.1867 60.3174 32.1467 60.9041 33.32C61.5174 34.4933 61.8241 35.8 61.8241 37.24C61.8241 38.7867 61.4507 40.2267 60.7041 41.56C59.9574 42.8933 58.8507 43.9733 57.3841 44.8C55.9174 45.6 54.1707 46 52.1441 46H39.4641V45.24C39.6507 45.24 39.8374 45.2 40.0241 45.12C40.2374 45.04 40.3441 44.9333 40.3441 44.8V17.2C40.3441 17.0667 40.2374 16.96 40.0241 16.88C39.8374 16.8 39.6507 16.76 39.4641 16.76V16H48.7041C50.4907 16 52.0641 16.3467 53.4241 17.04C54.8107 17.7067 55.8774 18.6533 56.6241 19.88C57.3974 21.08 57.7841 22.4533 57.7841 24C57.7841 26 57.1974 27.6267 56.0241 28.88ZM45.5441 20.72V27.8H48.0641C49.7174 27.8 50.8507 27.48 51.4641 26.84C52.1041 26.1733 52.4241 25.2533 52.4241 24.08C52.4241 23.1467 52.0107 22.36 51.1841 21.72C50.3841 21.0533 49.3441 20.72 48.0641 20.72H45.5441ZM50.9841 41.28C53.0107 41.28 54.4507 40.8667 55.3041 40.04C56.1841 39.2133 56.6241 38.2267 56.6241 37.08C56.6241 35.88 56.2507 34.8267 55.5041 33.92C54.7574 32.9867 53.4774 32.52 51.6641 32.52H45.5441V41.28H50.9841ZM77.6406 46.48C75.6673 46.48 73.9206 46.0667 72.4006 45.24C70.9073 44.3867 69.734 43.2267 68.8806 41.76C68.054 40.2933 67.6406 38.64 67.6406 36.8C67.6406 34.9867 68.054 33.3333 68.8806 31.84C69.734 30.3467 70.9206 29.1733 72.4406 28.32C73.9606 27.44 75.694 27 77.6406 27C79.5073 27 81.2006 27.4267 82.7206 28.28C84.2406 29.1067 85.4406 30.2667 86.3206 31.76C87.2006 33.2267 87.6406 34.9067 87.6406 36.8C87.6406 38.4533 87.2406 40.0267 86.4406 41.52C85.6673 42.9867 84.5206 44.1867 83.0006 45.12C81.4806 46.0267 79.694 46.48 77.6406 46.48ZM77.6406 41.88C79.214 41.88 80.4806 41.4267 81.4406 40.52C82.4273 39.5867 82.9206 38.3867 82.9206 36.92C82.9206 35.4 82.4273 34.1467 81.4406 33.16C80.4806 32.1733 79.214 31.68 77.6406 31.68C76.174 31.68 74.9473 32.1733 73.9606 33.16C72.974 34.12 72.4806 35.3333 72.4806 36.8C72.4806 38.3467 72.974 39.5867 73.9606 40.52C74.9473 41.4267 76.174 41.88 77.6406 41.88ZM113.133 28.36H112.853C112.506 28.36 112.28 28.4267 112.173 28.56L105.813 36.88L112.013 45.04C112.12 45.1733 112.44 45.24 112.973 45.24V46H105.933V45.24C106.253 45.24 106.413 45.1733 106.413 45.04C106.413 44.9867 106.36 44.88 106.253 44.72L102.973 40.4L99.6131 44.76L99.5331 44.92C99.5331 45.0267 99.5998 45.12 99.7331 45.2C99.8665 45.2533 100.053 45.28 100.293 45.28V46H92.8531V45.24H93.0531C93.4265 45.24 93.6798 45.1733 93.8131 45.04L100.053 36.8L93.7731 28.56C93.6665 28.4267 93.3465 28.36 92.8131 28.36V27.6H99.8131V28.32C99.4931 28.32 99.3331 28.3867 99.3331 28.52C99.3331 28.6 99.3731 28.7067 99.4531 28.84L102.853 33.32L106.333 28.84L106.413 28.68C106.413 28.5733 106.333 28.4933 106.173 28.44C106.04 28.36 105.853 28.32 105.613 28.32V27.6H113.133V28.36Z" fill="black" />
            </svg>
        </div>

        <a asp-action="MyProfile" asp-controller="Profile">
            <div class="user_info">
                <div class="user_info_img"><img src="@Model.imageDataUrl" /></div>
                <div class="user_info_name">@User.Identity.Name</div>

            </div>
        </a>
    </div>
    <div id="posts" class="index_body">
        @{
            foreach (var el in Model.ListOfPosts)
            {
                <partial name="_PostPartial" model="new PostPartialView() {post = el.Key , avatar = el.Value }"/>
            }
        }
        <p>@Model.user.UserName</p>
        <p>Hello world</p>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    function print() {
        console.log(this.id);
        $.ajax({
             type: "POST",
            url: "@Url.Action("Like")",
            data: { postIdStr: this.id },
            dataType: "text",
            success: function (response) {
                if (response == "false") {
                    console.log("disslike");
                    
                }
                else if (response == "true") {
                    console.log("like");
                }
                console.log(response);
            },
            error: function (req, status, error) {
                console.log(req);
                console.log(status);
                console.log(error);
            },

        });
    }
    let element = document.getElementsByClassName("likeButton");
    console.log(element.length);
    for (i = 0; i < element.length; i++) {
        element[i].addEventListener("click", print, false);
    }
    
</script>